.demo-inline-spacing> *{
    margin-right: 1.5rem;
    margin-top: 10px !important;
}
.btn-contrasena{
    border-color: #3faee2 !important;
    background-color: #3faee2 !important;
    color: #fff !important;
}