.demo-inline-spacing> *{
    margin-right: 1.5rem;
    margin-top: 10px !important;
}
.btn-contrasena{
    border-color: #3faee2 !important;
    background-color: #3faee2 !important;
    color: #fff !important;
}

.btn_mas{
    border-color: #645E77 !important;
    background-color: #645E77 !important;
    color: #fff !important;
    width: 30px!important;
    height: 30px!important;
    border-radius: 5px ;
    padding: 0px !important;;
}

