.bgc-aqua {
  background-color: aqua;
}
.bgc-red {
  background-color: red;
}
.bgc-yellow {
  background-color: yellow;
}
.bgc-green {
  background-color: green;
}
.bgc-pink {
  background-color: pink;
}

.bgc-primary {
  background-color: #73b72b;
}

.bgc-light {
  background-color: #ededed;
}

.bgc-milk {
  background-color: #3dbd99;
}
.bgc-goku {
  background-color: #ff8181;
}
.bgc-vegeta{
  background-color: #4f8af5
}
.bgc-cell {
  background-color: #b9db34;
}
.bgc-broly{
  background-color: #ffcd41;
}
.bgc-videl{
  background-color: #ca67fd;
}
.bgc-freezer{
  background-color: #f763d7;
}