.bgc-aqua {
  background-color: aqua;
}
.bgc-red {
  background-color: red;
}
.bgc-yellow {
  background-color: yellow;
}
.bgc-green {
  background-color: green;
}
.bgc-pink {
  background-color: pink;
}

.bgc-primary {
  background-color: #73b72b;
}

.bgc-light {
  background-color: #ededed;
}
