:root {
--milk:#3dbd99;
--goku:#ff8181;
--vegeta:#4f8af5;
--cell:#b9db34;
--broly:#ffcd41;
--videl:#ca67fd;
--freezer:#f763d7;
--info:#00cfe8;
--warning:#ff9f43;
--primary:#7367f0;
--gohan:#EEEDFD;
}

.bgc-aqua {
  background-color: aqua;
}
.bgc-red {
  background-color: red;
}
.bgc-yellow {
  background-color: yellow;
}
.bgc-green {
  background-color: green;
}
.bgc-pink {
  background-color: pink;
}

.bgc-primary {
  background-color: #7367f0;
}

.bgc-light {
  background-color: #ededed;
}

.bgc-milk {
  background-color:var(--milk);
}
.bgc-goku {
  background-color: var(--goku);
}
.bgc-vegeta{
  background-color: var(--vegeta);
}
.bgc-cell {
  background-color: var(--cell);
}
.bgc-broly{
  background-color: var(--broly);
}
.bgc-videl{
  background-color: var(--videl);
}
.bgc-freezer{
  background-color: var(--freezer);
}
.bgc-gohan { 
  background-color:var(--gohan);
}

.btc-milk{ 
  border-top-color:var(--milk);
}
.btc-goku{ 
  border-top-color:var(--goku);
}
.btc-vegeta{ 
  border-top-color:var(--vegeta);
}
.btc-cell{ 
  border-top-color:var(--cell);
}
.btc-broly{ 
  border-top-color:var(--broly);
}
.btc-videl{ 
  border-top-color:var(--videl);
}
.btc-freezer{ 
  border-top-color:var(--freezer);
}
.btc-info{ 
  border-top-color:var(--info);
}
.btc-warning{ 
  border-top-color:var(--warning);
}
.btc-primary{ 
  border-top-color:var(--primary);
}
.border-top-primary{ 
  border-top-color:var(--primary);
}

.border-primary{ 
  border-color:var(--primary);
}

.color-white{
  color: #fff;
}