.circ_verde{
    display: inline-block;
    background-color: #28c76f !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}
.circ_rojo{
    display: inline-block;
    background-color: #ea5455 !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}
.circ_amarillo{
    background-color: #ff9f43 !important;
}
.circ_lila{
    background-color: #7367f0 !important;
}
.ticket{
    width: 20px !important;
    height: 20px !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328c76f' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.linea_top{
    border-top: 1px solid #ebe9f1 !important;
}
.linea_right{
    border-right: 1px solid #ebe9f1 !important;
}
.linea_bottom{
    border-bottom: 1px solid #ebe9f1 !important;
}
.linea_left{
    border-left: 1px solid #ebe9f1 !important;
}
.btn_mas{
    /* border-color: #645E77 !important; */
    background-color: #645E77 !important;
    color: #fff !important;
    width: 30px!important;
    height: 30px!important;
    /* border-radius: 5px ; */
    padding: 0px !important;;
}
.bgc{
    background-color:#ebe9f1;
}
.linea_lila{
    border-top: 7px solid #7367f0 !important;
}
.modal_super_xl{
    min-width: calc(100vw - 50px) !important;
}
.modal_content_super_xl{
    min-height: calc(100vh - 30px) !important;
}
.modal_content_interior_super_xl{
    min-height: calc(100vh - 120px) !important;
}
.modal-header-david{
    background-color: #fff !important;
}