.modal-header-erik{  
    background-color: #fff !important;
}

.erik-modal{
    min-width: calc(100vw - 50px);
   
}

.modal-content-erik{
    min-height: calc(100vh - 30px);
}

.wp-350{
    width: 350px !important;
}


.bgc-tabla{
    background-color:#F3F2F7;

}

